# Ignore node_modules folder 
node_modules/

# Ignore any Python files (*.py) in your project if you're not linting them with ESLint
*.py

# Ignore other specific folders if necessary
/server/database/node_modules/